In [1]:
import pandas as pd

df = pd.read_csv('../raw/Video_Games_Sales_as_at_22_Dec_2016.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df.isnull().sum().sort_values(ascending=False)

User_Count         9129
Critic_Score       8582
Critic_Count       8582
Rating             6769
User_Score         6704
Developer          6623
Year_of_Release     269
Publisher            54
Name                  2
Genre                 2
Platform              0
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
dtype: int64

In [3]:
df_old = pd.read_csv('../raw/Video_Games_Sales_as_at_22_Dec_2016.csv')

df_old.drop(columns=[
    'Critic_Score', 'Critic_Count', 'User_Score', 'User_Count', 'Developer'
], inplace=True)

In [4]:
df_old.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN

In [5]:
df_old.columns

Index(['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'Rating'],
      dtype='object')

In [6]:
df_old.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Rating           9950 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

In [7]:
df_old['Publisher'] = df_old['Publisher'].fillna('Unknown')
df_old['Rating'] = df_old['Rating'].fillna('Unrated')

In [8]:
df_old['Genre'] = df_old['Genre'].str.lower().str.strip()
df_old['Platform'] = df_old['Platform'].str.upper().str.strip()
df_old['Publisher'] = df_old['Publisher'].str.strip()
df_old['Rating'] = df_old['Rating'].str.strip()
df_old['Name'] = df_old['Name'].str.lower().str.strip()

In [9]:
df_old['Year_of_Release'].isnull().sum()

269

In [10]:
df_old = df_old[df_old['Year_of_Release'].notna()]

In [11]:
df_old['Year_of_Release'] = df_old['Year_of_Release'].astype(int)

In [12]:
df_old['Genre'].unique()[:10]
df_old['Platform'].unique()[:10]
df_old['Publisher'].unique()[:10]
df_old['Rating'].unique()
df_old['Name'].head(10)

0                   wii sports
1            super mario bros.
2               mario kart wii
3            wii sports resort
4     pokemon red/pokemon blue
5                       tetris
6        new super mario bros.
7                     wii play
8    new super mario bros. wii
9                    duck hunt
Name: Name, dtype: object

In [13]:
sorted(df_old['Genre'].dropna().unique())
sorted(df_old['Platform'].dropna().unique())
sorted(df_old['Rating'].dropna().unique())

['AO', 'E', 'E10+', 'EC', 'K-A', 'M', 'RP', 'T', 'Unrated']

In [14]:
df_old['Genre'].value_counts().head(10)
df_old['Platform'].value_counts().head(10)
df_old['Rating'].value_counts()

Rating
Unrated    6681
E          3922
T          2905
M          1536
E10+       1393
EC            8
K-A           3
AO            1
RP            1
Name: count, dtype: int64

In [15]:
rating_map = {
    'E': 'Children',
    'EC': 'Children',
    'E10+': 'Pre-teens',
    'T': 'Teens',
    'M': 'Adults',
    'AO': 'Adults',
    'RP': 'Unrated',
    'K-A': 'Unrated',
    'Unrated': 'Unrated'
}

df_old['Rating'].map(rating_map).fillna('Unrated')

0        Children
1         Unrated
2        Children
3        Children
4         Unrated
           ...
16714     Unrated
16715     Unrated
16716     Unrated
16717     Unrated
16718     Unrated
Name: Rating, Length: 16450, dtype: object

In [16]:
df_old[['Rating']].head(5)
df_old['Rating'].unique()

array(['E', 'Unrated', 'M', 'T', 'E10+', 'K-A', 'AO', 'EC', 'RP'],
      dtype=object)

In [17]:
df_old['Platform'].unique()

array(['WII', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       'PS4', '3DS', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XONE',
       'WIIU', 'GC', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [18]:
df_old['Genre'].unique()

array(['sports', 'platform', 'racing', 'role-playing', 'puzzle', 'misc',
       'shooter', 'simulation', 'action', 'fighting', 'adventure',
       'strategy', nan], dtype=object)

In [19]:
df_new = pd.read_csv('..//raw/2024_videogames_sales.csv')
df_new.head()
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64016 entries, 0 to 64015
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   img           64016 non-null  object
 1   title         64016 non-null  object
 2   console       64016 non-null  object
 3   genre         64016 non-null  object
 4   publisher     64016 non-null  object
 5   developer     63999 non-null  object
 6   critic_score  6678 non-null   float64
 7   total_sales   18922 non-null  float64
 8   na_sales      12637 non-null  float64
 9   jp_sales      6726 non-null   float64
 10  pal_sales     12824 non-null  float64
 11  other_sales   15128 non-null  float64
 12  release_date  56965 non-null  object
 13  last_update   17879 non-null  object
dtypes: float64(6), object(8)
memory usage: 6.8+ MB

In [20]:
df_new.rename(columns={
    'title': 'Name',
    'console': 'Platform',
    'genre': 'Genre',
    'publisher': 'Publisher',
    'total_sales': 'Global_Sales',
    'na_sales': 'NA_Sales',
    'jp_sales': 'JP_Sales',
    'pal_sales': 'EU_Sales',
    'other_sales': 'Other_Sales',
    'release_date': 'Release_Date'
}, inplace=True)

In [21]:
df_new['Release_Date'] = pd.to_datetime(df_new['Release_Date'], errors='coerce')
df_new = df_new[df_new['Release_Date'].notna()].copy()
df_new['Year_of_Release'] = df_new['Release_Date'].dt.year.astype(int)

In [22]:
df_new['Genre'] = df_new['Genre'].str.lower().str.strip()
df_new['Platform'] = df_new['Platform'].str.upper().str.strip()
df_new['Publisher'] = df_new['Publisher'].fillna('Unknown').str.strip()
df_new['Name'] = df_new['Name'].str.lower().str.strip()

In [23]:
df_new = df_new[[
    'Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher',
    'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'
]]

In [24]:
df_new['Year_of_Release'].describe()
df_new['Year_of_Release'].value_counts().sort_index()

Year_of_Release
1971       1
1973       1
1975       1
1977      11
1978      45
1979       8
1980      35
1981      50
1982     214
1983     298
1984     102
1985     101
1986     159
1987     270
1988     294
1989     426
1990     657
1991     779
1992     933
1993    1034
1994    1163
1995    1153
1996    1228
1997    1040
1998    1096
1999    1272
2000    1552
2001    1478
2002    1726
2003    1723
2004    1606
2005    1810
2006    2096
2007    2525
2008    2936
2009    4360
2010    3586
2011    3386
2012    1584
2013    1740
2014    2896
2015    1680
2016    1352
2017    1558
2018    1538
2019    1290
2020    1452
2021     422
2022     168
2023     108
2024      22
Name: count, dtype: int64

In [25]:
df_new = df_new[df_new['Year_of_Release'].between(1980, 2024)]

In [26]:
df_new.isnull().sum().sort_values(ascending=False)

JP_Sales           50210
NA_Sales           44289
EU_Sales           44133
Other_Sales        41838
Global_Sales       38077
Name                   0
Platform               0
Year_of_Release        0
Genre                  0
Publisher              0
dtype: int64

In [27]:
sorted(df_new['Genre'].dropna().unique())
sorted(df_old['Genre'].dropna().unique())

['action',
 'adventure',
 'fighting',
 'misc',
 'platform',
 'puzzle',
 'racing',
 'role-playing',
 'shooter',
 'simulation',
 'sports',
 'strategy']

In [28]:
genre_map = {
    'action-adventure': 'action',
    'fighting': 'action',
    'misc': 'other',
    'platform': 'platformer',
    'shooter': 'shooter',
    'simulation': 'simulation',
    'sports': 'sports',
    'racing': 'racing',
    'role-playing': 'rpg',
    'puzzle': 'puzzle',
    'strategy': 'strategy',
}

df_new['Genre'] = df_new['Genre'].replace(genre_map)

In [29]:
df_new.duplicated(subset=['Name', 'Platform', 'Year_of_Release']).sum()

169

In [30]:
sales_cols = ['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']
df_new[sales_cols] = df_new[sales_cols].fillna(0)

In [31]:
df_new

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,grand theft auto v,PS3,2013,action,Rockstar Games,6.37,9.85,0.99,3.12,20.32
1,grand theft auto v,PS4,2014,action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
2,grand theft auto: vice city,PS2,2002,action,Rockstar Games,8.41,5.49,0.47,1.78,16.15
3,grand theft auto v,X360,2013,action,Rockstar Games,9.06,5.33,0.06,1.42,15.86
4,call of duty: black ops 3,PS4,2015,shooter,Activision,6.18,6.05,0.41,2.44,15.09
...,...,...,...,...,...,...,...,...,...,...
64010,world end syndrome,PS4,2018,visual novel,Arc System Works,0.00,0.00,0.00,0.00,0.00
64011,xblaze lost: memories,PC,2016,visual novel,Aksys Games,0.00,0.00,0.00,0.00,0.00
64012,"yoru, tomosu",PS4,2020,visual novel,Nippon Ichi Software,0.00,0.00,0.00,0.00,0.00
64013,"yoru, tomosu",NS,2020,visual novel,Nippon Ichi Software,0.00,0.00,0.00,0.00,0.00
64014,yunohana spring! ~mellow times~,NS,2019,visual novel,Idea Factory,0.00,0.00,0.00,0.00,0.00

In [32]:
df_combined = pd.concat([df_old, df_new], ignore_index=True)

In [33]:
df_combined.drop_duplicates(subset=['Name', 'Platform', 'Year_of_Release'], inplace=True)

In [34]:
print(f"Combined dataset shape: {df_combined.shape}")
df_combined.head()

Combined dataset shape: (59478, 11)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating
0,wii sports,WII,2006,sports,Nintendo,41.36,28.96,3.77,8.45,82.53,E
1,super mario bros.,NES,1985,platform,Nintendo,29.08,3.58,6.81,0.77,40.24,Unrated
2,mario kart wii,WII,2008,racing,Nintendo,15.68,12.76,3.79,3.29,35.52,E
3,wii sports resort,WII,2009,sports,Nintendo,15.61,10.93,3.28,2.95,32.77,E
4,pokemon red/pokemon blue,GB,1996,role-playing,Nintendo,11.27,8.89,10.22,1.00,31.37,Unrated

In [35]:
df_combined.to_csv('../clean/combined_before_title_cleaning.csv', index=False)