In [25]:
import pandas as pd

df = pd.read_csv('../raw/Video_Games_Sales_as_at_22_Dec_2016.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df.isnull().sum().sort_values(ascending=False)

User_Count         9129
Critic_Count       8582
Critic_Score       8582
Rating             6769
User_Score         6704
Developer          6623
Year_of_Release     269
Publisher            54
Name                  2
Genre                 2
NA_Sales              0
Platform              0
JP_Sales              0
EU_Sales              0
Other_Sales           0
Global_Sales          0
dtype: int64

In [27]:
df_old = pd.read_csv('../raw/Video_Games_Sales_as_at_22_Dec_2016.csv')

df_old.drop(columns=[
    'Critic_Score', 'Critic_Count', 'User_Score', 'User_Count', 'Developer'
], inplace=True)

In [28]:
df_old.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN

In [29]:
df_old.columns

Index(['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'Rating'],
      dtype='object')

In [30]:
df_old.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Rating           9950 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

In [31]:
df_old['Publisher'] = df_old['Publisher'].fillna('Unknown')
df_old['Rating'] = df_old['Rating'].fillna('Unrated')

In [32]:
df_old['Genre'] = df_old['Genre'].str.lower().str.strip()
df_old['Platform'] = df_old['Platform'].str.upper().str.strip()
df_old['Publisher'] = df_old['Publisher'].str.strip()
df_old['Rating'] = df_old['Rating'].str.strip()
df_old['Name'] = df_old['Name'].str.lower().str.strip()

In [33]:
df_old['Year_of_Release'].isnull().sum()

np.int64(269)

In [34]:
df_old = df_old[df_old['Year_of_Release'].notna()]

In [35]:
df_old['Year_of_Release'] = df_old['Year_of_Release'].astype(int)

In [36]:
df_old['Genre'].unique()[:10]
df_old['Platform'].unique()[:10]
df_old['Publisher'].unique()[:10]
df_old['Rating'].unique()
df_old['Name'].head(10)

0                   wii sports
1            super mario bros.
2               mario kart wii
3            wii sports resort
4     pokemon red/pokemon blue
5                       tetris
6        new super mario bros.
7                     wii play
8    new super mario bros. wii
9                    duck hunt
Name: Name, dtype: object

In [37]:
sorted(df_old['Genre'].dropna().unique())
sorted(df_old['Platform'].dropna().unique())
sorted(df_old['Rating'].dropna().unique())

['AO', 'E', 'E10+', 'EC', 'K-A', 'M', 'RP', 'T', 'Unrated']

In [38]:
df_old['Genre'].value_counts().head(10)
df_old['Platform'].value_counts().head(10)
df_old['Rating'].value_counts()

Rating
Unrated    6681
E          3922
T          2905
M          1536
E10+       1393
EC            8
K-A           3
AO            1
RP            1
Name: count, dtype: int64

In [39]:
rating_map = {
    'E': 'Children',
    'EC': 'Children',
    'E10+': 'Pre-teens',
    'T': 'Teens',
    'M': 'Adults',
    'AO': 'Adults',
    'RP': 'Unrated',
    'K-A': 'Unrated',
    'Unrated': 'Unrated'
}

df_old['Rating_Grouped'] = df_old['Rating'].map(rating_map).fillna('Unrated')

In [40]:
df_old[['Rating', 'Rating_Grouped']].head(5)
df_old['Rating_Grouped'].unique()

array(['Children', 'Unrated', 'Adults', 'Teens', 'Pre-teens'],
      dtype=object)

In [41]:
df_old['Platform'].unique()

array(['WII', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       'PS4', '3DS', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XONE',
       'WIIU', 'GC', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [42]:
df_old['Genre'].unique()

array(['sports', 'platform', 'racing', 'role-playing', 'puzzle', 'misc',
       'shooter', 'simulation', 'action', 'fighting', 'adventure',
       'strategy', nan], dtype=object)

In [43]:
df_new = pd.read_csv('..//raw/2024_videogames_sales.csv')
df_new.head()
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64016 entries, 0 to 64015
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   img           64016 non-null  object
 1   title         64016 non-null  object
 2   console       64016 non-null  object
 3   genre         64016 non-null  object
 4   publisher     64016 non-null  object
 5   developer     63999 non-null  object
 6   critic_score  6678 non-null   float64
 7   total_sales   18922 non-null  float64
 8   na_sales      12637 non-null  float64
 9   jp_sales      6726 non-null   float64
 10  pal_sales     12824 non-null  float64
 11  other_sales   15128 non-null  float64
 12  release_date  56965 non-null  object
 13  last_update   17879 non-null  object
dtypes: float64(6), object(8)
memory usage: 6.8+ MB